<div class="jumbotron">
  <h2 style="text-align: center">My Github Repositories</h2>
  <p class="lead">Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat</p>
  <p>
    <a class="btn btn-lg btn-success"
       href="https://github.com/anubisvolga1989"
       target="_blank" role="button">Check Github Profile</a>
  </p>
  <hr>
  <h2 style="text-align: center">My Linkedin Profile</h2>
  <p class="lead">Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat</p>
  <p>
    <a class="btn btn-lg btn-success"
       href="https://www.linkedin.com/in/marco-montoya-31b54aa8/"
       target="_blank" role="button">Check Linkedin Profile</a>
  </p>
</div>

<footer class="footer">
  <p>&copy; 2016 Marco V Montoya, Inc.</p>
</footer>
